### Pandas Objects

Enhanced NumPy structures where rows and columns are identified with labels rather than simple integer indices.

Pandas provides tools and methods to operate on these data structures.

In [1]:
import numpy as np
import pandas as pd

#### The Series Object

A one dimensional array of indexed data.

Wraps both a sequence of values and a sequence of indices.

Considered to be more general and flexible than 1D NumPy arrays.

In [2]:

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
# data can be accessed similar to NumPy arrays
print(data[1])
print(data[1:3])

0.5
1    0.50
2    0.75
dtype: float64

In [10]:
# unlike NumPy arrays, Pandas series have an explicit index
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data['b']

0.5

In [13]:
# indices do not need to be contiguous
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

#### Pandas Series as a Dictionary

The series operates kind of like a dictionary of arbitrary values.

Series are more efficient than Python dictionaries because of types;

In [29]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19552860,
    'Illinois': 128821350
}

population = pd.Series(population_dict)
population

California     38332521
Texas          26448193
New York       19552860
Illinois      128821350
dtype: int64

In [30]:
# by default a Series will use index drawn from sorted keys

# we can slice these!
population['California':'Illinois']

California     38332521
Texas          26448193
New York       19552860
Illinois      128821350
dtype: int64

#### Constructing Series Objects

In [24]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [26]:
# if data is a scalar, it will be repeated to fill in indices
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [27]:
# data can be a dictionary where index defaults to keys
pd.Series({ 2: 'a', 1: 'b', 3: 'c' })

2    a
1    b
3    c
dtype: object

In [28]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

#### The Pandas DataFrame Object

Also thought of as a generalization of a NumPy array or specialization of Python dictionary.

Series is analog of 1D array with flexible indices.

DataFrame is analog to 2D array with flexible row indices and column names.

In [31]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [32]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

             population    area
California   38332521.0  423967
Florida             NaN  170312
Illinois    128821350.0  149995
New York     19552860.0  141297
Texas        26448193.0  695662

In [33]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [34]:
states.columns

Index(['population', 'area'], dtype='object')

In [37]:
# like dictionary, DataFrame maps column name to series of data
# for example - selecting 'area' attribute returns Series object
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

#### Constructing DataFrames

In [38]:
# we can make a single column DataFrame from a single Series
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19552860
Illinois     128821350

In [47]:
# a list of dictionaries can be made into a DataFrame
# just make sure each dictionary has the same keys!
# where keys are missing you will see NaN
data = [
    { 'a': i, 'b': 2**i }
    for i in range(8)
]

data.append({ 'c': 5 })

pd.DataFrame(data)

     a      b    c
0  0.0    1.0  NaN
1  1.0    2.0  NaN
2  2.0    4.0  NaN
3  3.0    8.0  NaN
4  4.0   16.0  NaN
5  5.0   32.0  NaN
6  6.0   64.0  NaN
7  7.0  128.0  NaN
8  NaN    NaN  5.0

In [49]:
# or we can make a DataFame from a Series
pd.DataFrame({ 'population': population, 'area': area })

             population    area
California   38332521.0  423967
Florida             NaN  170312
Illinois    128821350.0  149995
New York     19552860.0  141297
Texas        26448193.0  695662

In [54]:
# or we can use a 2D NumPy array
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.721018  0.781668
b  0.593410  0.716783
c  0.034303  0.220536

In [57]:
# from a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [58]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

#### The Pandas Index Object

Can be considered an immutable array or an ordered set.

In [63]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [65]:
# we can operate on the index a lot like an array
print(ind[1])
print(ind[::2])
print(ind[::-1])

3
Int64Index([2, 5, 11], dtype='int64')
Int64Index([11, 7, 5, 3, 2], dtype='int64')

In [66]:
# index has additional attributes
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [68]:
# but it's immutable, you can't change a value!
# immutability makes it safer to share indices between DataFrames & array
ind[0] = 100

TypeError: Index does not support mutable operations

In [69]:
# components of set arithmetic make operations like 'joins' possible
# the index follows many conventions of Python's set data structure
# to allow for unions, intersections, differences, and other combinations

In [70]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [71]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [72]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [74]:
# symmetric difference
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [77]:
indA.difference(indB)

Int64Index([1, 9], dtype='int64')

In [82]:
type(indA)

pandas.core.indexes.numeric.Int64Index