#### Pandas Operations

Pandas borrows many of its operations from NumPy. Operations exist for 1D series and multi-dimensional DataFrames.

There are a few gotchas. Ufuncs will preserve index and column labels in the output. Binary operations such as addition/multiplication will cause Pandas to align indices when passing the objects to the Ufunc.

In [1]:
import numpy as np
import pandas as pd

In [2]:
rng = np.random.RandomState(42)

series = pd.Series(rng.randint(0, 10, 4))
series

0    6
1    3
2    7
3    4
dtype: int64

In [3]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'])

In [4]:
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

Applying a Ufunc to a Pandas object results in a new object with indices preserved

In [27]:
result1 = np.exp(series)
result1

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [26]:
result1[0] = 5
print('Modified result', result1[0])
print('Original df', series[0])

Modified result 5.0
Original df 6

In [28]:
np.sin(df * np.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

#### Index Alignment

Pandas will align indices in the process of performing the operation.

In [29]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [32]:
# indices are aligned, resulting in the union of the two series and several NaNs
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [33]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [34]:
a = pd.Series([2, 4, 6], index=[0, 1, 2])
b = pd.Series([1, 2, 3], index=[1, 2, 3])
a + b

0    NaN
1    5.0
2    8.0
3    NaN
dtype: float64

In [35]:
# the fill value can be modified to prevent NaNs
a.add(b, fill_value=0)

0    2.0
1    5.0
2    8.0
3    3.0
dtype: float64

In [36]:
a = pd.DataFrame(rng.randint(0, 20, (2, 2)), columns=list('AB'))
a

   A   B
0  1  11
1  5   1

In [42]:
b = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns=list('BAC'))
b

   B  A  C
0  4  0  9
1  5  8  0
2  9  2  6

In [43]:
a + b

      A     B   C
0   1.0  15.0 NaN
1  13.0   6.0 NaN
2   NaN   NaN NaN

In [52]:
fill = a.stack().mean()
fill

4.5

In [53]:
a.add(b, fill_value=fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

| Python Operator  | Pandas Method  | 
|---|---|
| + | add() |
| - | sub() |
| * | mul() |
| / | div() |
| // | floordiv() |
| % | mod() |
| ** | pow() |

#### Ufuncs Between DataFrame and Series

In [54]:
A = rng.randint(10, size=(3, 4))
A

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]])

In [55]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-1, -2,  2,  4],
       [ 3, -7,  1,  4]])

In [57]:
df = pd.DataFrame(A, columns=list('QRST'))
df

   Q  R  S  T
0  3  8  2  4
1  2  6  4  8
2  6  1  3  8

In [61]:
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1 -1 -2  2  4
2  3 -7  1  4

In [65]:
df['R']

0    8
1    6
2    1
Name: R, dtype: int64

In [64]:
df.subtract(df['R'], axis=0)

   Q  R  S  T
0 -5  0 -6 -4
1 -4  0 -2  2
2  5  0  2  7

In [67]:
halfrow = df.iloc[0, ::2]
halfrow

Q    3
S    2
Name: 0, dtype: int64

In [68]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -1.0 NaN  2.0 NaN
2  3.0 NaN  1.0 NaN