In [1]:
import numpy as np
import pandas as pd

### Pandas Series as a Dictionary

In [18]:
# series as a dictionary

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd',])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [19]:
data['b']

0.5

In [20]:
'a' in data

True

In [21]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [24]:
data.items()

In [23]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [25]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

#### Series as a One Dimensional Array

NumPy array basic slice/mask operations are available.

In [26]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [28]:
# we can also use implicit indices!
data[0:2]

a    0.25
b    0.50
dtype: float64

In [30]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [31]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [32]:
# a quick gotcha!
# when slicing with explicit indices ('a', 'b'), the final index is
# included in the slice
# but when slicing with implicit indices (0:2), the final index is ecluded

#### Indexers: loc, iloc, and ix

Slicing and indexing conventions can be a source of confusion.

If the series has an explicit integer index, an operation like data[1] will use the explicit indices, while slicing operation like data[1:3] will use the implicit Python style index.

In [33]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [34]:
# explicit index
data[1]

'a'

In [35]:
# implicit index
data[1:3]

3    b
5    c
dtype: object

In [36]:
# .loc attribute forces indexing with explicit index
data.loc[1]

'a'

In [37]:
data.loc[1:3]

1    a
3    b
dtype: object

In [38]:
# .iloc attribute forces indexing using the implicit index
data.iloc[1]

'b'

In [39]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [40]:
# .ix attribute is a hybrid that is equivalent to [] based indexing
# .ix indexer purpose will be discussed later

#### Selecting Data from DataFrames

In [41]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [42]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [43]:
data.area is data['area']

True

In [45]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [46]:
# examine raw underlying data array using values attribute
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [47]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [48]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [49]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [63]:
# iloc indexer indexes underlying array as if it is NumPy array
data.iloc[::2, 2:]

               density
California   90.413926
New York    139.076746
Illinois     85.883763

In [66]:
# using loc indexer we can access underlying data in array-like style
# using the explicit index and column names
data.loc[:'New York', :'area']

              area
California  423967
Texas       695662
New York    141297

In [67]:
# the ix indexer allows hybrid of both approaches
data.ix[:3, :'area']

/Users/jujohnson/anaconda3/envs/tf.latest/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

/Users/jujohnson/anaconda3/envs/tf.latest/lib/python3.6/site-packages/pandas/core/indexing.py:808: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

              area
California  423967
Texas       695662
New York    141297

In [71]:
data.loc[data.density > 100, ['density']]

             density
New York  139.076746
Florida   114.806121

In [72]:
data.iloc[0, 2] = 90

In [73]:
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [76]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [77]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [78]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121